.gradle/
.externalNativeBuild/
.cxx/
**/.cxx/
**/build/
.classpath
.project
.settings/
.idea/
bin/
gen/
target/
production/
lib/
out/
captures/
wallet/.cxx
wallet/prod
local.properties
local.properties.windows
local.properties.osx
*.iml
*.apk
*.aab
*.log
.DS_Store
Thumbs.db
external/*.zip
/external/*
!/external/dashj/
wallet/cpp/**/CMakeFiles/
wallet/cpp/**/cmake-build-*
